input::placeholder {
  font-family: "Noto Sans Thai", sans-serif;
}

.text-primary {
  color: #222324;
}

.text-primary-dark {
  color: #3C91FF;
}

html {
  background-color: #F4F4F4;
  font-family: "Noto Sans Thai", sans-serif !important;
}

.active {
  background-color: #717171;
}

.dot.active {
  background-color: #717171;
}

svg path.active {
  fill: #409EFF !important;
}